* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rotatage {
  transform: rotate(45deg);
  border: none !important;
}
.hidden {
  visibility: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  h1 {
    text-align: center;
    font-size: 2rem;
  }
  .container {
    background-image: url("../assets/img/rain.gif");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    button {
      border: none;
      background-color: transparent;
    }
    #login {
      position: absolute;
      left: 50%;
      padding: 3px 5px;
      transform: translateX(-50%);
      font-size: 1.3rem;
      color: rgb(0, 0, 0);
      background-color: rgba(84, 166, 204, 0.6);
      border-radius: 22px;
    }
    #patapon {
      position: absolute;
      top: 40%;
      left: 75%;
      padding: 5px 7px;
      border-radius: 22px;
      color: black;
      background-color: rgba(84, 166, 204, 0.6);
    }
    .game {
      margin: 10px auto;
      display: flex;
      height: 80%;
      flex-direction: column;
      img {
        border-left: 1px solid gray;
        border-right: 1px solid black;
      }
      div {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      img {
        height: 60px;
        width: 60px;
      }
    }
    #start {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      img {
        height: 130px;
        width: 130px;
      }
    }
    .pos-mov {
      position: absolute;
      width: 100%;
      bottom: 0;

      #logs {
        
        border: 2px inset gray;
        max-height: 63px;
        width: 40%;
        height: inherit;
        overflow: auto;
        position: relative;
        background-color: rgba(200, 200, 200, 0.76);
        
      }

      .move {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        img {
          height: 60px;
          width: 90px;
        }
      }
    }
  }
}

#msg{
  position: relative;
  bottom: 0;
  left: 30%;
  
}
#send{
  position: relative;
  bottom: 0;
  right: -10%;
  
  font-size: 0.8rem;
  text-align: center;
  
}



@media (max-width: 1025px) {
  .container {
    width: 100% !important;
  }
}

#msg{
  position: relative !important;
  bottom: 0!important;
  left: 10%!important;
  
}
#send{
  position: relative!important;
  bottom: 0!important;
  right: -10%!important;
  
  font-size: 0.8rem;
  text-align: center;
  
}
